<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%-title || "BLP" %></title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body class="flex flex-col bg-orange-100 *:">
        <!-- header-->
        <%- include('./partials/header') %>
        <!-- burger menu-->
        <%- include('./partials/burgerMenu')%>
        <!-- profile menu-->
        <%- include('./partials/profileMenu')%>
        <%-body%>
        <%- include('./partials/footer') %>
    
    
    <script src="/js/ClientPartialsControllers/toggleNavMenu.js"></script>
    <script src="/js/ClientPagesControllers/ClientStaticPagesControllers.js"></script>
    <script src="/js/ClientPagesControllers/ClientExerciseControllers.js"></script>
    <script src="/js/ClientPagesControllers/ClientLoginControllers.js"></script>
    <script src="/js/ClientPagesControllers/ClientSignupControllers.js"></script>
    <script src="/js/ClientPagesControllers/ClientDashboardControllers.js"></script>
    <%- script %>
</body>
</html>