<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body class="flex flex-col bg-orange-100">
        <%- include('./partials/header') %>
        <%- include('./partials/burgerMenu')%>
        <%- include('./partials/profileMenu')%>
        <%-body%>
        <%- include('./partials/footer') %>
        
    <script src="/js/toggleNavMenu.js"></script> 
</body>
</html>