<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%-title || "BLP" %></title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="flex flex-col bg-orange-100 min-h-screen">

    <div class="flex-grow">
        <!-- header-->
        <%- include('./partials/header') %>
        <!-- burger menu-->
        <%- include('./partials/burgerMenu')%>
        <!-- profile menu-->
        <%- include('./partials/profileMenu')%>
        <%-body%>
    </div>
    
        <%- include('./partials/footer') %>
    
    <script src="/serviceWorkerRegister.js"></script>
    <script src="/js/ClientPartialsControllers/toggleNavMenu.js"></script>
    <script src="/js/ClientPagesControllers/ClientStaticPagesControllers.js"></script>
    <script src="/js/ClientPagesControllers/ClientExerciseControllers.js"></script>
    <script src="/js/ClientPagesControllers/ClientLoginControllers.js"></script>
    <script src="/js/ClientPagesControllers/ClientSignupControllers.js"></script>
    <script src="/js/ClientPagesControllers/ClientDashboardControllers.js"></script>
    <script src="/js/ClientPartialsControllers/blabla.js"></script>
    <%- script %>
</body>
</html>