<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%-title || "BLP" %></title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body class="flex flex-col bg-orange-100">
        <!-- header-->
        <%- include('./partials/header') %>
        <!-- burger menu-->
        <%- include('./partials/burgerMenu')%>
        <!-- profile menu-->
        <%- include('./partials/profileMenu')%>
        <%-body%>
        <%- include('./partials/footer') %>
        
    <script src="/js/auth.js"></script>
    <script src="/js/partialsControllers/toggleNavMenu.js"></script>
    <script src="/js/pagesControllers/staticPagesControllers.js"></script>
    <script src="/js/pagesControllers/dashBoardPageControllers.js"></script>
    <script src="/js/pagesControllers/historyPageControllers.js"></script>
    <script src="/js/pagesControllers/loginPageControllers.js"></script>
    <%- script%>
</body>
</html>